## Crie um arquivo .env na raiz da pasta PrecoMedioApi e adicione as seguintes variáveis de ambiente de acordo com seus dados:
EMAIL_HOST_USER = 'coloque o email do sistema aqui'
EMAIL_HOST_PASSWORD = 'coloque a senha do email aqui'
DEFAULT_FROM_EMAIL = 'coloque o email do sistema aqui'
SERPAPI_KEY = 'coloque a chave da sua conta serpapi aqui'